:root{
  --color1:red;
  --color2: white;
}

body {
  background-color: var(--color1);
  padding: 0;
}

h1 {
  background-color: var(--color2);
  color: var(--color1);
  padding: 50px 0 0 50px;
  height: calc(50vh - 50px);
  margin: -8px;
}

h1 a {
  color: inherit;
}

h1 a:hover {
  color: blue;
}

.calculator {
  background-color: var(--color2);

  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  width: 280px;
  height: 500px;
  border: 5px solid gray;
  margin: -250px 0 0 -145px;

  font-family: Georgia, serif;
  text-align: right;
}

.calculator p {
  margin: 0;
  border-bottom: 1px solid var(--color2);
  padding: 0 5% 0 0;
  font-size: 35px;
  background-color: black;
}

.buttons-container {
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
}

.append {
  color: white;
}

.replace {
  color: blue;
}

.push {
  color: lime;
}
