.calculator {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0 auto;
  width: 280px;
  height: 500px;
  margin: -250px 0 0 -140px;
  border: 1px solid;

  font-family: Georgia, serif;
  font-size: xx-large;
}

.buttons-container {
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
}
